/* Default styles for all devices */
body {
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;
    margin: 0;
    background-color: rgb(3, 3, 91);
    color: white;
    padding: 5px;
    text-decoration: solid;
}

a {
    text-decoration: solid;
    color: white;
}

.navbar ul li {
    display: inline-block;
    border: 0px solid 0px;
    border-radius: 40px;
    background-color: rgb(95, 62, 171);
    padding: 5px 15px;
    margin-right: 20px;
    height: 20px;
    width: 50px;
    text-align: center;
    align-content: center;
}

.navbar ul li:hover {
    display: inline-block;
    border-radius: 40px;
    color: black;
    background-color: aquamarine;
    font-weight: bold;
    padding: 5px 15px;
    margin-right: 20px;
    height: 20px;
    width: 50px;
    text-align: center;
    align-content: center;
    cursor: pointer;
}

.slider {
    position: relative;
    width: 80%;
    max-width: 800px;
    overflow: hidden;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 550px;
    width: 100%;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

footer {
    width: 100%;
    text-align: center;
    padding: 5px;
    margin: 0;
    background-color: #333;
    color: white;
}

/* Styles for iPhone 13 Pro Max in portrait mode */
@media only screen and (max-width: 430px) {
    .slider {
        width: 100%;
        margin: 20px 0;
    }

    .navbar ul li {
        margin-right: 10px;
    }
}

/* Styles for iPhone 13 Pro Max in landscape mode */
@media only screen and (min-width: 431px) and (max-width: 932px) {
    .slider {
        width: 90%;
        margin: 20px auto;
    }

    .navbar ul li {
        margin-right: 10px;
    }
}
